<%- include('partials/header') %>
  
  <%- include('partials/navbar') %>
  <div class="container">
    <h1>Browsing the <%= name %> subreddit</h1>
    <h2><%= description %></h2>
    <p><%= subscribers %> total subscribers</p>
    <hr />

    <% for (let post of posts) { %>
    <article>
      <p><%= post.title %> - <strong><%= post.author %></strong></p>
      <% if (post.img) { %>
      <img src="<%= post.img %>" alt="" />
      <% } %>
    </article>
    <% } %>
  </div>

<%- include('partials/footer') %>
